	/* CREDITS  
	BABEL X3D CSS add-on for Unit 3D WebGL launch HTML pages:BabelX3DWebGLauncher.css 
	This creates a handy play button
	by vcard, 21-Dec-2018  	
	https://portal.babelx3d.net	*/		
	
	 .gameContainer {
	  resize: both; overflow:hidden; background-color:#F0F0F0; background-image: url('coverImage.jpg'); background-size: 100% 100%;	 
	 }	  
	 .play-button-outer {	  
           	width: 4.3em;
        	height: 4.3em;           	
           	border: 4px solid #222;
           	border-radius: 50%;
           	border-color: rgba(30,174,211, .1);   /*circle border color - BLUE */
	 		/*background-color: rgba(30,174,211, .1);*/ /*option: inline background color*/
			position: relative; top:91%; left: 50%;
			transform: translate(-50%, -50%);					  
	}	
	.play-button {
		        position: relative;
                top: .85em;
                left: 1.6em; 
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 30px solid #222;
                border-left-color:rgba(30,174,211, .5);   /*play button color - BLUE*/	                
	}
	.play-button:hover {
                border-left-color:rgba(30,174,100, 1);   /*play button color - GREEN*/                
                cursor: pointer;
	}
	.play-button-outer:hover {
				/*circle border color */
                border-color: rgba(30,174,211, .5);  
		 		/* background-color: rgba(30,174,211, .1); */ /*option: inline background color*/		 		
	} 